@tailwind base;
@tailwind components;
@tailwind utilities;

/* Disable pull-to-refresh on mobile so it doesn't break scrolling */
body {
  overscroll-behavior-y: contain;
  background-color: black;
  color: white;
}

/* Create the vertical snap container */
.snap-container {
  height: 100dvh;
  /* Dynamic viewport height */
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  /* Hide scrollbar Firefox */
}

.snap-container::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar Chrome/Safari */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* Prevents "bounce" on iOS which can mess up the teleportation logic */
  overscroll-behavior-y: none;
}

/* Mute icon fade */
@layer utilities {
  @keyframes fade-out-zoom {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }

    20% {
      opacity: 1;
      transform: scale(1.1);
    }

    80% {
      opacity: 1;
      transform: scale(1);
    }

    100% {
      opacity: 0;
      transform: scale(0.8);
    }
  }

  .animate-pop-fade {
    animation: fade-out-zoom 0.8s forwards ease-out;
  }
}

.video-section {
  touch-action: manipulation;
  /* Prevents double-tap to zoom */
  -webkit-tap-highlight-color: transparent;
  /* Removes the blue box when tapping on iOS */
}

/* Arrow on first load */
@keyframes bounce-subtle {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.animate-bounce-subtle {
  animation: bounce-subtle 2s infinite ease-in-out;
}